<div class="container">
    <div class="row mt-3">
        <div class="col">
            <div class="h4 text-center">assign</div>
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>Incident Name</mat-label>
                <input matInput placeholder="Name" formControlName="incidentName">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>Incident Name</mat-label>
                <input matInput placeholder="Name" formControlName="incidentName">
            </mat-form-field>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col m-auto">
            <button type="submit" class="btn btn-primary w-100"> Save</button>
        </div>
    </div>
</div>