<!--Header-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class=" container-fluid">
        <a class="navbar-brand text-center">Incident Managment</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">About</a>
                </li>
            </ul>
            <!-- <div class="me-5">
                <button type="button" (click)="openModel()" class="btn btn-primary me-2">AssignTo</button>
                 <button type="button" (click)="openModel()" class="btn btn-primary">Incident Entry</button>
            </div> -->
            <!-- <div class="dropdown dropstart">
                <a class="dropdown-toggle d-flex hidden-arrow align-items-center" data-bs-toggle="dropdown"
                    role="button" aria-expanded="false">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="40"
                        alt="Black and White Portrait of a Man" loading="lazy" />
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</nav>


<!--footer-->
<div class=" container-fluid fixed-bottom bg-black justify-content-center ">
    <div class="row text-white">
        <div class="col-md" style="height: 40px;">
            <div class=" text-center mt-2" style=" background-color: rgba(0, 0, 0, 0.05);">
                © 2024 Copyright:
                <a class="text-reset fw-bold" href="#">Incident.com</a>
            </div>
        </div>
    </div>
</div>